name: Release
on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
  pull_request:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        go: ['1.23','1.24']
    name: Go ${{ matrix.go }} test
    steps:
      - uses: actions/checkout@v6
      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - run: go test -race ./...
  release:
    runs-on: ubuntu-24.04
    needs: [test]
    if: ${{ github.event_name == 'workflow_dispatch' || github.ref == 'refs/heads/main' }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Source checkout
      uses: actions/checkout@v6
    - name: Semantic Release
      uses: cycjimmy/semantic-release-action@v5
      with:
        dry_run: false
        semantic_version: 23.0.4
        extra_plugins: |
          @semantic-release/exec@6.0.3
